{
  "presets": [
  ["env", {
    "targets": {
      "node": "6.10"
    }
  }]],
  "plugins": [
    "transform-export-extensions",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    "transform-es2015-spread",
    "transform-export-default"
  ]
}
